<div class="row">
  <div class="col">
    <div [formGroup]="tempFg">
      <div class="d-flex d-inline-block position-relative">
        <input type="text"
               formControlName="tempDateForText"
               class="form-control"
               placeholder="dd/mm/yyyy"
               appDateMask
               autocomplete="off">
        <div style="margin-left: -50px">
          <input type="text" formControlName="tempDateForCalender"
                 style="visibility: hidden;width: 0px" [matDatepicker]="customDateEl" [min]="minDate" [max]="maxDate" >
          <!--<span style="display: none"><mat-hint>DD/MM/YYYY</mat-hint></span>-->
          <mat-datepicker-toggle matSuffix [for]="customDateEl" ></mat-datepicker-toggle>
          <mat-datepicker #customDateEl></mat-datepicker>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="this.control?.invalid && (this.control?.dirty || this.control?.touched)" class="alert alert-danger">
      <div *ngIf="errorWithMessage.length > 0">
        {{errorWithMessage[0].errorMessage}}
      </div>
    </div>
  </div>
</div>

