
<span (click)="update()" *ngIf="updateFlag==true" >
  <i class="fas fa-edit fa-2x"></i>&nbsp;&nbsp;
</span>

<span (click)="delete()" *ngIf="deleteFlag==true" >
  <i class="fas fa-trash fa-2x"></i>&nbsp;&nbsp;
</span>

<span (click)="show()" *ngIf="detailFlag==true" >
  <i class="fas fa-eye fa-2x"></i>&nbsp;&nbsp;
</span>


<button [ngClass]="params.buttonClass" style="cursor: pointer" (click)="btnClick()" *ngIf="params.buttonFlag==true">
  <span [innerHTML]="params.buttonIcon"></span> {{params.buttonLabel}}</button>
